vrrp_instance VI_1 {
        interface enp0s3
	state MASTER
	track_interface {
		enp0s3
	}
        virtual_router_id 1
        priority 101
        virtual_ipaddress {
                192.168.0.105   
        }
        
}
